<!DOCTYPE html>
<html　xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>駐車場所を選択してください</h1>
<ul>
	<li>ダミー</li>
</ul>
<button class="favorite styled" type="button">検索</button>

<form action="/fee" method="get">
	<select name="parkingId" id="parkingId">
		<option th:each="parking : ${ParkingList}"
		th:value="${parking.id}"
		th:text="${parking.name}">駐車場名</option>
		
	</select>
	<button type="submit">料金を確認</button>
</form>
</body>
</html>